*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1.5;

  min-height: 100dvh;

  background-image: url("/gradient-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.player {
  background-color: #212936;
  padding: 3rem;

  border-radius: 12px;

  box-shadow: 0 12px 24px #121826a6;
}

.audio_poster {
  border-radius: 9px;

  margin-bottom: 2rem;
}

.audio_name,
.audio_author {
  text-align: center;
}

.audio_name {
  color: #e5e7eb;
  font-size: 2rem;
  font-weight: 500;
}

.audio_author {
  color: #4d5562;
  font-size: 1.4rem;
  font-weight: 500;
}

.progress_bar_container {
  margin: 2rem 0;
}

.timers {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.progress_bar {
  width: 100%;
}

.audio_time {
  color: #4d5562;
  font-size: 1.2rem;
  font-weight: 600;
}

.controlsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  margin-top: 3.5rem;
}

.btn {
  background: none;
  border: none;

  cursor: pointer;

  width: 48px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.btn--playPause {
  background-color: #c93b76;
  filter: drop-shadow(0px 8px 16px rgba(201, 59, 118, 0.25));

  img {
    width: 32px;
    height: 32px;
  }
}
